apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - ../base/
namePrefix: l0-
commonLabels:
  cluster: l0
images:
  - name: validator
    newName: l0-validator
configMapGenerator:
  - name: validator-config
    literals:
      - L0_INITIAL_VALIDATOR_ID=00b8a56a20fc2e2a0196b8b8f4593ea4f736555506950103eb6fbbe435c0eeb71b32abfe21ae63bb3de8b9afdfa604bfd5837ef61e261611b8a0e5efd92ef1ea
replicas:
  - name: validator-deployment
    count: 0
