<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %highlight(%-5level) %cyan(%logger{15}) - %msg%n</pattern>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="STDOUT" />
    </root>

    <logger name="org.tessellation" level="DEBUG" />
    <logger name="org.http4s.server.middleware.RequestLogger" level="OFF" />
    <logger name="org.http4s.server.middleware.ResponseLogger" level="OFF" />
    <logger name="org.http4s.client.middleware.RequestLogger" level="OFF" />
    <logger name="org.http4s.client.middleware.ResponseLogger" level="OFF" />
    <logger name="RumorLogger" level="OFF" />
</configuration>
