<included>

    <property name="APP_LOG" value="logs/app.log"/>
    <property name="APP_ROLLING_LOG" value="logs/archived/app.%d{yyyy-MM-dd}.%i.log.gz"/>
    <property name="HTTP_LOG" value="logs/http.log"/>
    <property name="HTTP_ROLLING_LOG" value="logs/archived/http.%d{yyyy-MM-dd}.%i.log.gz"/>
    <property name="GOSSIP_LOG" value="logs/gossip.log"/>
    <property name="GOSSIP_ROLLING_LOG" value="logs/archived/gossip.%d{yyyy-MM-dd}.%i.log.gz"/>
    <property name="PEER_SELECT_LOG" value="logs/peer-select.log"/>
    <property name="PEER_SELECT_ROLLING_LOG" value="logs/archived/peer-select.%d{yyyy-MM-dd}.%i.log.gz"/>
    <property name="TRANSACTIONS_LOG" value="logs/transactions.log"/>
    <property name="TRANSACTIONS_ROLLING_LOG" value="logs/archived/transactions.%d{yyyy-MM-dd}.%i.log.gz"/>

    <property name="APP_JSON_LOG" value="logs/json_logs/app.json.log"/>
    <property name="APP_JSON_ROLLING_LOG" value="logs/json_logs/archived/app.%i.json.log"/>
    <property name="GOSSIP_JSON_LOG" value="logs/json_logs/gossip.json.log"/>
    <property name="GOSSIP_JSON_ROLLING_LOG" value="logs/json_logs/archived/gossip.%i.json.log"/>
    <property name="HTTP_JSON_LOG" value="logs/json_logs/http.json.log"/>
    <property name="HTTP_JSON_ROLLING_LOG" value="logs/json_logs/archived/http.%i.json.log"/>
    <property name="TRANSACTIONS_JSON_LOG" value="logs/json_logs/transactions.json.log"/>
    <property name="TRANSACTIONS_JSON_ROLLING_LOG" value="logs/json_logs/archived/transactions.%i.json.log"/>


    <appender name="APP" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${APP_LOG}</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${APP_ROLLING_LOG}</fileNamePattern>
            <maxFileSize>200MB</maxFileSize>
            <totalSizeCap>2GB</totalSizeCap>
            <maxHistory>10</maxHistory>
        </rollingPolicy>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>%date [%thread] [%property{self_id}] %highlight(%-5level) %cyan(%logger{15}) - %msg%n</pattern>
        </encoder>
    </appender>
    <appender name="HTTP" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${HTTP_LOG}</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${HTTP_ROLLING_LOG}</fileNamePattern>
            <maxFileSize>200MB</maxFileSize>
            <totalSizeCap>2GB</totalSizeCap>
            <maxHistory>10</maxHistory>
        </rollingPolicy>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>%date [%thread] [%property{self_id}] %highlight(%-5level) %cyan(%logger{15}) - %msg %n</pattern>
        </encoder>
    </appender>
    <appender name="GOSSIP" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${GOSSIP_LOG}</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${GOSSIP_ROLLING_LOG}</fileNamePattern>
            <maxFileSize>200MB</maxFileSize>
            <totalSizeCap>2GB</totalSizeCap>
            <maxHistory>10</maxHistory>
        </rollingPolicy>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>%date [%thread] [%property{self_id}] %highlight(%-5level) %cyan(%logger{15}) - %msg %n</pattern>
        </encoder>
    </appender>
    <appender name="PEER_SELECT" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${PEER_SELECT_LOG}</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${PEER_SELECT_ROLLING_LOG}</fileNamePattern>
            <maxFileSize>200MB</maxFileSize>
            <totalSizeCap>2GB</totalSizeCap>
            <maxHistory>10</maxHistory>
        </rollingPolicy>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>%date [%thread] [%property{self_id}] %highlight(%-5level) %cyan(%logger{15}) - %msg %n</pattern>
        </encoder>
    </appender>
    <appender name="TRANSACTIONS" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${TRANSACTIONS_LOG}</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${TRANSACTIONS_ROLLING_LOG}</fileNamePattern>
            <maxFileSize>200MB</maxFileSize>
            <totalSizeCap>2GB</totalSizeCap>
            <maxHistory>10</maxHistory>
        </rollingPolicy>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>%date [%thread] [%property{self_id}] %highlight(%-5level) %cyan(%logger{15}) - %msg %n</pattern>
        </encoder>
    </appender>

    <appender name="APP_JSON" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${APP_JSON_LOG}</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
            <fileNamePattern>${APP_JSON_ROLLING_LOG}</fileNamePattern>
            <minIndex>1</minIndex>
            <maxIndex>5</maxIndex>
        </rollingPolicy>
        <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
            <maxFileSize>100MB</maxFileSize>
        </triggeringPolicy>
        <encoder class="net.logstash.logback.encoder.LogstashEncoder">
            <customFields>{"application":"${application_name}", "peer_id_short": "${self_id}", "ip": "${external_ip}"}</customFields>
        </encoder>
    </appender>
    <appender name="HTTP_JSON" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${HTTP_JSON_LOG}</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
            <fileNamePattern>${HTTP_JSON_ROLLING_LOG}</fileNamePattern>
            <minIndex>1</minIndex>
            <maxIndex>5</maxIndex>
        </rollingPolicy>
        <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
            <maxFileSize>100MB</maxFileSize>
        </triggeringPolicy>
        <encoder class="net.logstash.logback.encoder.LogstashEncoder">
            <customFields>{"application":"${application_name}", "peer_id_short": "${self_id}", "ip": "${external_ip}"}</customFields>
        </encoder>
    </appender>
    <appender name="GOSSIP_JSON" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${GOSSIP_JSON_LOG}</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
            <fileNamePattern>${GOSSIP_JSON_ROLLING_LOG}</fileNamePattern>
            <minIndex>1</minIndex>
            <maxIndex>5</maxIndex>
        </rollingPolicy>
        <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
            <maxFileSize>100MB</maxFileSize>
        </triggeringPolicy>
        <encoder class="net.logstash.logback.encoder.LogstashEncoder">
            <customFields>{"application":"${application_name}", "peer_id_short": "${self_id}", "ip": "${external_ip}"}</customFields>
        </encoder>
    </appender>
    <appender name="TRANSACTIONS_JSON" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${TRANSACTIONS_JSON_LOG}</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
            <fileNamePattern>${TRANSACTIONS_JSON_ROLLING_LOG}</fileNamePattern>
            <minIndex>1</minIndex>
            <maxIndex>5</maxIndex>
        </rollingPolicy>
        <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
            <maxFileSize>100MB</maxFileSize>
        </triggeringPolicy>
        <encoder class="net.logstash.logback.encoder.LogstashEncoder">
            <customFields>{"application":"${application_name}", "peer_id_short": "${self_id}", "ip": "${external_ip}"}</customFields>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="APP" />
        <appender-ref ref="APP_JSON" />
    </root>

    <logger name="io.constellationnetwork" level="DEBUG" />
    <logger name="org.http4s.server.middleware.RequestLogger" level="OFF" />
    <logger name="org.http4s.server.middleware.ResponseLogger" level="OFF" />
    <logger name="org.http4s.client.middleware.RequestLogger" level="OFF" />
    <logger name="org.http4s.client.middleware.ResponseLogger" level="OFF" />
    <logger name="RumorLogger" level="OFF" />
    <logger name="TransactionLogger" level="OFF" />
    <logger name="org.http4s.server.middleware.RequestLogger" level="INFO" additivity="false">
        <appender-ref ref="HTTP" />
        <appender-ref ref="HTTP_JSON" />
    </logger>
    <logger name="org.http4s.server.middleware.ResponseLogger" level="INFO" additivity="false">
        <appender-ref ref="HTTP" />
        <appender-ref ref="HTTP_JSON" />
    </logger>
    <logger name="org.http4s.client.middleware.RequestLogger" level="INFO" additivity="false">
        <appender-ref ref="HTTP" />
        <appender-ref ref="HTTP_JSON" />
    </logger>
    <logger name="org.http4s.client.middleware.ResponseLogger" level="INFO" additivity="false">
        <appender-ref ref="HTTP" />
        <appender-ref ref="HTTP_JSON" />
    </logger>
    <logger name="RumorLogger" level="INFO" additivity="false">
        <appender-ref ref="GOSSIP" />
        <appender-ref ref="GOSSIP_JSON" />
    </logger>
    <logger name="PeerSelectLogger" level="DEBUG" additivity="false">
        <appender-ref ref="PEER_SELECT" />
    </logger>
    <logger name="TransactionLogger" level="DEBUG" additivity="false">
        <appender-ref ref="TRANSACTIONS" />
        <appender-ref ref="TRANSACTIONS_JSON" />
    </logger>


</included>
