[Unit]
Description=nftables Prometheus exporter
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
ExecStart=/usr/local/bin/nftables_exporter.py
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
