<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="STDOUT" />
    </root>

    <logger name="org.tesselation" level="DEBUG">
        <appender-ref ref="STDOUT" />
    </logger>

    <logger name="org.http4s.server.middleware.RequestLogger" level="ERROR">
        <appender-ref ref="STDOUT" />
    </logger>
    <logger name="org.http4s.server.middleware.ResponseLogger" level="ERROR">
        <appender-ref ref="STDOUT" />
    </logger>

</configuration>
